<div id="projectPg">
    <h1>Projects</h1>
    <h4>Click on an image to view</h4>
    <div class="row is-flex">

        <div ng-if="project.name.length > 0" class="col-xs-12 col-md-6 container project" ng-repeat="project in projects | orderBy: '-rating' track by $index" ng-click="check(project)">
            <div>
                <h3 class="text-center"><u>{{project.name}}</u></h3>
                <p>{{ project.description }}</p>

                <div>
                    <div ng-if="project.images.length === 1" class="col-xs-4"></div>
                    <div class="col-xs-4" ng-repeat="img in project.images track by $index">
                        <img class="img img-responsive" ng-click="viewImg(img, $index)" ng-model="img" ng-src="{{ img }}" alt="project images" max-width="200">
                    </div>
                </div>
                <p ng-if="project.github">View on <a href="{{project.github}}">Github</a></p>
            </div>
        </div>


        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img class="img img-responsive" ng-src="{{ image }}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
