ul.lst-kix_9hcx6jde5535-4 {
            list-style-type: none
        }
        
        ul.lst-kix_9hcx6jde5535-5 {
            list-style-type: none
        }
        
        ul.lst-kix_9hcx6jde5535-2 {
            list-style-type: none
        }
        
        ul.lst-kix_9hcx6jde5535-3 {
            list-style-type: none
        }
        
        ul.lst-kix_9hcx6jde5535-0 {
            list-style-type: none
        }
        
        ul.lst-kix_9hcx6jde5535-1 {
            list-style-type: none
        }
        
        .lst-kix_g4gs15nldowy-7>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_vh5gjx6akwz2-5 {
            list-style-type: none
        }
        
        ul.lst-kix_vh5gjx6akwz2-4 {
            list-style-type: none
        }
        
        ul.lst-kix_vh5gjx6akwz2-7 {
            list-style-type: none
        }
        
        .lst-kix_u1ew5r1ed77q-4>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_vh5gjx6akwz2-6 {
            list-style-type: none
        }
        
        .lst-kix_g4gs15nldowy-6>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_vh5gjx6akwz2-1 {
            list-style-type: none
        }
        
        .lst-kix_u1ew5r1ed77q-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_vh5gjx6akwz2-0 {
            list-style-type: none
        }
        
        ul.lst-kix_vh5gjx6akwz2-3 {
            list-style-type: none
        }
        
        ul.lst-kix_vh5gjx6akwz2-2 {
            list-style-type: none
        }
        
        .lst-kix_g4gs15nldowy-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_u1ew5r1ed77q-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_u1ew5r1ed77q-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_u1ew5r1ed77q-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_g4gs15nldowy-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_g4gs15nldowy-4>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_vh5gjx6akwz2-8 {
            list-style-type: none
        }
        
        .lst-kix_g4gs15nldowy-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vh5gjx6akwz2-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_vh5gjx6akwz2-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vh5gjx6akwz2-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_vh5gjx6akwz2-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_u1ew5r1ed77q-7 {
            list-style-type: none
        }
        
        ul.lst-kix_u1ew5r1ed77q-8 {
            list-style-type: none
        }
        
        ul.lst-kix_u1ew5r1ed77q-5 {
            list-style-type: none
        }
        
        ul.lst-kix_u1ew5r1ed77q-6 {
            list-style-type: none
        }
        
        .lst-kix_u1ew5r1ed77q-3>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_u1ew5r1ed77q-0 {
            list-style-type: none
        }
        
        .lst-kix_vh5gjx6akwz2-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_u1ew5r1ed77q-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9hcx6jde5535-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vh5gjx6akwz2-1>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_9hcx6jde5535-8 {
            list-style-type: none
        }
        
        .lst-kix_g4gs15nldowy-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_u1ew5r1ed77q-1>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_u1ew5r1ed77q-3 {
            list-style-type: none
        }
        
        ul.lst-kix_u1ew5r1ed77q-4 {
            list-style-type: none
        }
        
        ul.lst-kix_9hcx6jde5535-6 {
            list-style-type: none
        }
        
        ul.lst-kix_u1ew5r1ed77q-1 {
            list-style-type: none
        }
        
        .lst-kix_9hcx6jde5535-7>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_9hcx6jde5535-7 {
            list-style-type: none
        }
        
        ul.lst-kix_u1ew5r1ed77q-2 {
            list-style-type: none
        }
        
        .lst-kix_vh5gjx6akwz2-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vh5gjx6akwz2-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_vh5gjx6akwz2-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_u1ew5r1ed77q-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_9hcx6jde5535-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9hcx6jde5535-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9hcx6jde5535-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_9hcx6jde5535-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_9hcx6jde5535-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_9hcx6jde5535-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9hcx6jde5535-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_g4gs15nldowy-0>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_g4gs15nldowy-0 {
            list-style-type: none
        }
        
        .lst-kix_g4gs15nldowy-1>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_g4gs15nldowy-5 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-6 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-7 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-8 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-1 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-2 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-3 {
            list-style-type: none
        }
        
        ul.lst-kix_g4gs15nldowy-4 {
            list-style-type: none
        }
        
        ol {
            margin: 0;
            padding: 0
        }
        
        table td,
        table th {
            padding: 0
        }
        
        .c9 {
            margin-left: 33pt;
            padding-top: 0pt;
            padding-left: -4.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            margin-right: -18pt
        }
        
        .c4 {
            margin-left: 33pt;
            padding-top: 0pt;
            padding-left: -6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            margin-right: -18pt
        }
        
        .c0 {
            margin-left: -18pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            margin-right: -18pt
        }
        
        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial";
            font-style: normal
        }
        
        .c11 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .c7 {
            color: #000000;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            font-family: "Arial";
            font-style: normal
        }
        
        .c14 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }
        
        .c13 {
            column-count: 3;
            padding: 0;
            margin: 0
        }
        
        .c8 {
            color: inherit;
            text-decoration: inherit
        }
        
        .c10 {
            color: #1155cc;
            text-decoration: underline
        }
        
        .c16 {
            font-size: 18pt
        }
        
        .c6 {
            font-size: 11pt
        }
        
        .c5 {
            font-weight: 700
        }
        
        .c1 {
            font-size: 9pt
        }
        
        .c15 {
            text-decoration: underline
        }
        
        .c12 {
            font-size: 10pt
        }
        
        .c2 {
            height: 11pt
        }
        
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
.c14 {
    border: 1px solid black;
/*    padding: 10%;*/
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px;
}
